@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
.panel {
	height: 100%;
	width: 100%;
}
body{
	overflow-x: hidden;
}
.panel.intro h1{
	font-family: Dancing Script;
	color: #fcfdff !important;
	font-size: 100px !important;
	padding-top: 10%;
	animation-duration: 10s;
}

#subtext{
	color: #fcfdff;
	font-family: 'Comfortaa', cursive;
	font-size: 12pt;
}
.panel.intro hr{
	width: 70%;
}

.panel.intro{
	background:url(background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


.panel.about{
	/*background: #d9a7c7;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-color: #FFFFFF;

}


.about h1{
	font-family: "Dancing Script";
	color: #3bcee5;
}
.about p{
	color: #000000;
	font-size: 15px;
	font-family: "Raleway", sans-serif;
}

.devicon-cplusplus-line{
	font-size: 6rem;
	color: #000000;
	padding: 20px;
}
.devicon-java-plain-wordmark{
	font-size: 6rem;
	color: #000000;
	padding: 20px;
}
.devicon-php-plain{
	font-size: 6rem;
	color: #000000;
	padding: 20px;
}
.devicon-html5-plain-wordmark{
	font-size: 6rem;
	color: #000000;
	padding: 20px;
}
.devicon-css3-plain-wordmark{
	font-size: 6rem;
	color: #000000;
	padding: 20px;
}
.devicon-javascript-plain{
	font-size: 6rem;
	color: #000000;
	padding: 20px;
}
.devicon-python-plain-wordmark{
	font-size: 6rem;
	color: #000000;
	padding: 20px;
}
.devicon-git-plain-wordmark{
	font-size: 6rem;
	color: #000000;
	padding: 20px;
}
.devicon-bootstrap-plain-wordmark{
	font-size: 6rem;
	color: #000000;
	padding: 20px;
}
.devicon-mysql-plain-wordmark{
	font-size: 7rem;
	color: #000000;
	padding: 20px;
}

.panel.projects{
	/*background: #de6262; /* fallback for old browsers */
  	/*background: -webkit-linear-gradient(to right, #de6262, #ffb88c); /* Chrome 10-25, Safari 5.1-6 */
  	/*background: linear-gradient(to right, #de6262, #ffb88c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-color: #FFFFFF;
}

.panel.projects h1{
	font-family: Dancing Script;
	color: #3bcee5;
}

.panel.resume h1{
	font-family: Dancing Script;
	color: #3bcee5;
}
/*div
	{
		border: 1px solid blue;
	}
	a
	{
		border: 1px solid red;
	}
	p
	{
		border: 1px solid green;
	}
	span
	{
		border: 1px solid yellow;
	}*/
